
HiArt.xcodeproj/xcuserdata/daniel.xcuserdatad/
HiArt.xcworkspace/xcuserdata/daniel.xcuserdatad/
HiArt.xcworkspace/xcuserdata/daniel.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
*.xcbkptlist

# Mac OS X Finder
.DS_Store

# Cocoapods
Pods/
Podfile.lock



# Xcode
xcuserdata/
project.xcworkspace/
DerivedData/
