
HiArt.xcodeproj/xcuserdata/daniel.xcuserdatad/
HiArt.xcworkspace/xcuserdata/daniel.xcuserdatad/
HiArt.xcworkspace/xcuserdata/daniel.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
*.xcbkptlist
*.xcbkptlist
