<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206923051541-8ufvp2rmfmbk8l3bosjjicukllri9s2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206923051541-8ufvp2rmfmbk8l3bosjjicukllri9s2r</string>
	<key>API_KEY</key>
	<string>AIzaSyC9_3KA4S9250xRUy0uNzBhNMUKeXmkxpQ</string>
	<key>GCM_SENDER_ID</key>
	<string>206923051541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danielch.HiArt</string>
	<key>PROJECT_ID</key>
	<string>hiart-c73f5</string>
	<key>STORAGE_BUCKET</key>
	<string>hiart-c73f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206923051541:ios:cd7615511941e89de1541c</string>
</dict>
</plist>